{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">

    {% if article.featured_image_id %}
        {% if detail_view %}
            <p>
                <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
            </p>
        {% else %}
            <div class="col-sm-4 col-lg-3">
                <img class="img-responsive no-right" src="{% thumbnail article.featured_image 200x144 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
            </div>
        {% endif %}
    {% endif %}

    {# The category is only shown on the detail view by using the condition "and detail_view" #}
    {% if article.categories.exists and detail_view %}
        <p>
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% if detail_view %} 
        <span class="article-small-date">
            {{ article.publishing_date|date }} - {{ article.author }}
        </span>
        <h2> {% render_model article "title" %} </h2>

   {% endif %}

    {% if article.tags and detail_view %}
        <p>
            {% for tag in article.tags.all %}
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

    {% if detail_view %}
        {% render_model article "lead_in" "" "" "truncatewords_html:'20'" %}
        {% render_placeholder article.content language placeholder_language %}
    {% else %}
        <div class="col-sm-8 col-lg-9">
            <span class="article-small-date">
                {{ article.publishing_date|date }} - {{ article.author }}
            </span>
            <h2>
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}" class="article-title">{% render_model article "title" %}</a>
            </h2>
            {% render_model article "lead_in" "" "" "truncatewords_html:'20'" %}
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                <button class="btn btn-success">Read more</button>
            </a>
        </div>
    {% endif %}
    <hr>
</article>
