{% extends 'base.html' %}
{% load cms_tags staticfiles thumbnail %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>{{ event.name }}</h1>
        </div>
        
        <div class="col-sm-9">
            <h4>{{ event.location }} - {{ event.start_date|date:"D d M, Y" }}</h4>
            <hr>

            {% if event.public %}
                <div class="alert alert-info" role="alert">
                    <strong>All welcome!</strong> This event is open to the public!
                </div>
            {% endif %}
            
            <img src="{% thumbnail event.image 600x300 crop subject_location=event.image.subject_location %}" 
                 alt="{{ event.image.alt }}"> 
            
            <p>Start: {{ event.start_date|date:"g:iA" }}</p>
            {% render_model event "description" %}

            {% if event.uses_epunch %}
                <div><br /><p><strong>This event uses e-punch</strong></p></div>
            {% endif %}

            <h2>Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    {% render_model event.location "description" %}
                </div>
                <div class="col-sm-6">
                    {% render_placeholder event.location.map_placeholder %}
                </div>
            </div>

            <!-- results -->            
            <h2>Results</h2>
            <div clas="row">            
                {% if event.future %}
                    You'll be able to view results here after the event.
                {% else %}
                    {% for course in event.course_set.all %}
                        <h3>{{ course.name }}</h3>
                        <table class="table table-responsive table-striped">
                            <thead>
                                <th>Place</th>
                                <th>Name</th>
                                <th>Club</th>
                                <th>Points</th>
                                <th>Time</th>
                            </thead>
                            {% for result in course.result_set.all %}
                                <tr><td>{{ result.place }}</td>
                                    <td>{{ result.team_name }}</td>
                                    <td>{% if result.club %} {{ result.club }}{% endif %}</td>
                                    <td>{% if result.points %} {{ result.points }}{% endif %}</td>
                                    <td>{% if result.time %} {{ result.get_time }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <!-- sidebar -->
        <div class="col-sm-3 hidden-xs">
            <div class="well">
                <div class="info-box-item">
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}/icons/question.png">
                    <a href="{% page_url 'newcomers' %}"><h3 class="text-center">How it works</h3></a>
                    <p class="text-center">What to expect at an event</p>
                </div>

                <div class="info-box-item">                
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}/images/legend-text.png">
                    <a href="{{ STATIC_URL }}/images/orienteering-map-legend.jpg" class="text-center"><h3>Map legend</h3></a>
                    <p class="text-center">Orienteering maps use special symbols to depict forest, fields, trails, boulders, and building.</p>
                </div>

                <div class="info-box-item">                
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}/images/e-punch.png">
                    <a href="{% page_url 'newcomers' %}" class="text-center"><h3>E-punch</h3></a>
                    <p class="text-center">Each participant uses an electronic finger stick to keep track of the checkpoints they've punched and their time on the course.</p>
                </div>

            </div>
        </div>
        <!-- end sidebar -->

    </div>

    <div class="row">
    </div>
{% endblock content %}