{% load sekizai_tags cms_tags %}

{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}styles/footer.css" rel="stylesheet">
{% endaddtoblock %}

<div class="footer-basic">
    <hr>
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/NavigationGames/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.meetup.com/navigation-games/" target="_blank">
                <i class="fa fa-meetup" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Services</a>
            </li>
            <li>
                <a href="{% page_url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% page_url 'help_for_editors' %}">Help</a>
                </li>
                <li>
                    <a href="{% url 'auth_logout' %}?next=/">Logout</a>
                </ul>
            {% else %}
                <a href="/?edit">Login</a>
            {% endif %}
            </li>
        </ul>
        <p class="copyright">Navigation Games © 2016 | Site by Cristina &amp; Caroline</p>
    </footer>
</div>