{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags %}

{% block newsblog_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="page-header">Navigation Games News
                    <small></small>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% for article in article_list %}
                    {% include "aldryn_newsblog/includes/article.html" %}
                {% empty %}
                    <p>{% trans "No items available" %}</p>
                {% endfor %}

                {% include "aldryn_newsblog/includes/pagination.html" %}
            </div>

        </div>
    </div>
{% endblock %}
