{% extends 'base.html' %} {% load cms_tags %} {% block title %}{% endblock %} {% block content %}
<div class="container">
    <h1>{{ activity.name }}</h1>
    <p>{{ activity.description }}</p>
    <b>Tags: </b> {{ activity.tags.all|join:", "}}

    <br />
    <br />

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th scope="row ">Objectives</th>
                <td>{{ activity.objectives }}</td>
            </tr>
            <tr>
                <th scope="row ">Standards</th>
                <td>{{ activity.standards}}</td>
            </tr>

            <tr>
                <th scope="row ">Time Required</th>
                <td>{{ activity.time_required}}</td>
            </tr>
            <tr>
                <th scope="row ">Materials</th>
                <td>{{ activity.materials}}</td>
            </tr>
        </tbody>
    </table>


    <h2>Prep</h2>
    <p>{{ activity.prep}} </p>

    <h2>Intro</h2>
    <p>{{ activity.intro }}</p>

    <h2>Execution</h2>
    <p>{{ activity.execution}} </p>

    <h2>Variations</h2>
    <p>{{ activity.variations}} </p>

    <h2>Reflection</h2>
    <p>{{ activity.reflection | safe | linebreaks}} </p>


    <!-- <p>{% render_model event "description " %}</p> -->

</div>
{% endblock content %}