{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles %}


{% block title %}{% page_attribute "page_title" %}{% endblock title %}
        
{% block content %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}styles/feature.css" rel="stylesheet">
    {% endaddtoblock %}

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Navigation Games</h1>
                        <hr class="small">
                        <span class="subheading">map games for all</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>We teach kids to orienteer!</h2>
                {% placeholder "left-top-content" %}
            </div>
            <div class="col-sm-4 well well-lg">
                <h2 class="no-top">Get in touch</h2>
                {% placeholder "contact" or %}
                    <h4>Subscribe to our email list!</h4>
                {% endplaceholder %}
                {% placeholder "email-subscribe" %}
                <div>
                <a href="https://www.facebook.com/NavigationGames/" target="_blank">
                    <i class="icon-2x icon-facebook-sign aria-hidden="true""></i>
                </a>
                <a href="https://www.meetup.com/navigation-games/" target="_blank">
                    <i class="icon-2x icon-meetup-sign aria-hidden="true""></i>
                </a>
                <a href="mailto:info@navigationgames.org">
                    <span class="glyphicon glyphicon-envelope" target="_blank"></span>
                </a>
                </div>

            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                    <a href="{% page_url 'teachers' %}">
                        <img class="img-circle img-responsive center-block" 
                        src="{{ STATIC_URL }}images/maze2.jpg" alt="">
                    </a>
                {% placeholder "box-1" %}
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive center-block" 
                    src="{{ STATIC_URL }}images/girlpunch2.jpg" alt="">
                {% placeholder "box-2" %}
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive center-block" 
                    src="{{ STATIC_URL }}images/huddle2.jpg" alt="">
                {% placeholder "box-3" %}
            </div>

            <div class="col-sm-4 hidden-xs">
                <a href="{% page_url 'teachers' %}">
                    <button class="btn btn-primary btn-lg center-block">Learn more</button>
                </a>
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="{% page_url 'families' %}">
                    <button class="btn btn-primary btn-lg center-block">Learn more</button>
                </a>
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="{% page_url 'help_out' %}">
                    <button class="btn btn-primary btn-lg center-block">Learn more</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
    <hr>
        <div class="row">
            <div class="col-sm-8">
                {% placeholder "events-header" or %}
                    <h2>Upcoming Events!</h2>
                {% endplaceholder %}
                {% placeholder "events-list" %}            
            </div>
            <div class="col-sm-4">
                {% placeholder "events-explainer" %}
            </div>
        </div>

    <hr>
        <div id="what-orienteering" class="row">
            <h2>What is orienteering?</h2>
            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-01.png">
                <h3 class="icon-text">maps</h3>
            </div>
            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-03.png">
                <h3 class="icon-text">nature</h3>
            </div>
            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-10.png">
                <h3 class="icon-text">family</h3>
            </div>

            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-02.png">
                <h3 class="icon-text">decisions</h3>
            </div>
            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-17.png">
                <h3 class="icon-text">activity</h3>
            </div>
            <div class="col-sm-4">
                <img class="center-block" src="{{ STATIC_URL }}/icons/o-icons-04.png">
                <h3 class="icon-text">fun</h3>
            </div>

        </div>
        {% placeholder "orienteering-explainer" %}
    </div>

{% endblock content %}
