{% if event_list  %}
    <div class=>
    <table class="table table-responsive table-striped">
        <thead>
            <th>Date</th>
            <th>Event</th>
            <th>Location</th>
            <th class="hidden-xs">E-punch</th>
            <th class="hidden-xs">Public</th>
        </thead>
        <tbody>
        {% for event in event_list %}
            <tr><td>{{ event.start_date|date:"D d M Y" }}</td>
                <td>{% if event.customURL %}
                        <a href={{event.customURL}}>
                    {% else %}
                        <a href="{% url 'events:event-detail' event.slug %}">
                    {% endif %}
                    {{ event.name }}</a>
                </td>
                <td><a href="{% url 'events:location-detail' event.location.slug %}">{{ event.location }}</a></td>
                <td class="hidden-xs">{% if event.uses_epunch %}Yes!
                    {% else %}No
                    {% endif %}</td>
                <td class="hidden-xs">{% if event.public %}Yes!
                    {% else %}No
                    {% endif %}</td>                    
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p> There aren't any events on the calendar right now, stay tuned!</p>
{% endif %}
