body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-buffer { 
    margin-top:20px; 
}

.cms-toolbar-expanded body .navbar-fixed-top {
    top:45px;
}

.article-list-thumbnail {
    float:left;
    padding-right:30px;
}

.article-small-date {
    padding:0;
    outline:0;
    margin:0; 
}

.article-title {
    padding:0;
    margin:0; 
}

article h2 {
    margin-top:0;
}

h1, h2, .navbar-brand {
    font-family: 'Patua One', cursive;
}